*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    min-height: 100vh;
    border: 10px solid black;
}
.content{
    max-width: 900px;
    margin:0 auto;
}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;

}
.top_section h2{
    text-align: end;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container,img{
    width:300px;
    height:320px;

}
.top_section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.aboutsection{
    margin-top: 50px ;

}
.aboutsection h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.aboutsection p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biographysection{
    margin-top: 50px;
    margin-bottom: 50px;
}
.biographysection h1{
    margin-bottom: 20px;
}
.biographysection ul{
    margin-left: 50px;
}
.biographysection li{
    margin-bottom: 15px;
}
footer{
   margin: 50px 0px;
   text-align: end;
   
}